<p>
    perfil works!
</p>
<div class="card">
    <h5 class="card-header" style="background: #9cb6ef;color:#fff">Clientes</h5>
    <div class="card-body" style="background-color: #e0e0e0;">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
            </div>
        </div>
    </div>
</div>