<mat-card style="width: 600px; margin: auto; margin-top: 100px;">
    <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="login()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">


        <mat-form-field>
            <input matInput type="text" placeholder="Owner's name" formControlName="nombre" name="nombre" id="nombre">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>

        <mat-card-actions align="center">
            <button mat-raised-button color="primary" [disabled]="!form.valid">Create</button>
            <!--<button type="button"> mat-raised-button color="warn" (click)="onCancel()">Cancel</button>-->
        </mat-card-actions>

        <!--<div class="example-container" style="text-align: center; margin-bottom: 20px;">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Enter your email" [formControl]="email" name="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="example-container" style="text-align: center;margin-bottom: 20px;">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Enter your First Name" [formControl]="username" name="username" required>
                <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>-->
        <!--

        <div style="text-align: center;">
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </div>
    -->
    </form>
</mat-card>